# EGit never sees this file, please use subfolder .gitignore files
jsoar-*.zip
.project
org.eclipse.m2e.core.prefs
jsoar-core/target
jsoar-core/bin
jsoar-core/dist
jsoar-debugger/target
jsoar-debugger/bin
jsoar-demos/target
jsoar-demos/bin
jsoar-legilimens/target
jsoar-legilimens/bin
jsoar-sml/target
jsoar-sml/bin
jsoar-tcl/target
jsoar-tcl/bin
jsoar-soar2soar/target
jsoar-soar2soar/bin
jsoar-soarunit/target
jsoar-soarunit/bin
jsoar-build/lib/db/*.jar
jsoar-performance-testing/bin
jsoar-performance-testing/resources/csoar
jsoar-performance-testing/resources/Test-Results
jsoar-performance-testing/src/main/resources/csoar
jsoar-performance-testing/src/main/resources/Test-Results
jsoar-performance-testing/build
jsoar-performance-testing/target
jsoar-performance-testing/.settings/
*.iml
dependency-reduced-pom.xml
target/
jsoar-build/test.log
/.idea/
*.trace
jsoar-debugger/ngs-temp.txt
jsoar-performance-testing/.classpath
jsoar-performance-testing/Test-Results
jsoar-repl/.classpath
jsoar-repl/.settings/
*.factorypath
*.dll
jsoar-repl.build_artifacts.txt
