jsoar-build/dist
jsoar-*.zip
jsoar-core/target
jsoar-core/bin
jsoar-debugger/target
jsoar-debugger/bin
jsoar-demos/target
jsoar-demos/bin
jsoar-legilimens/target
jsoar-legilimens/bin
jsoar-sml/target
jsoar-sml/bin
jsoar-tcl/target
jsoar-tcl/bin
jsoar-soar2soar/target
jsoar-soar2soar/bin
jsoar-soarunit/target
jsoar-soarunit/bin
jsoar-build/lib/db/*.jar
.project
.settings/org.eclipse.m2e.core.prefs
jsoar-core/.classpath
jsoar-core/.project
jsoar-debugger/.classpath
jsoar-debugger/.project
jsoar-demos/.classpath
jsoar-demos/.project
jsoar-legilimens/.classpath
jsoar-legilimens/.project
jsoar-ruby/.classpath
jsoar-ruby/.project
jsoar-ruby/.settings/org.eclipse.jdt.core.prefs
jsoar-ruby/.settings/org.eclipse.m2e.core.prefs
jsoar-soar2soar/.classpath
jsoar-soar2soar/.project
jsoar-soarunit/.classpath
jsoar-soarunit/.project
jsoar-tcl/.classpath
jsoar-tcl/.project
