 @import url("reset.css");
 
body {
  background-color: #808080;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

p {
    margin-bottom: 1em;
}
#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px 20px 40px;
  //border: solid 1px black;
}

#header {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 10px 40px 0 40px;
  //border: solid 1px black;
  border-bottom: solid 1px #808080;
}

#footer {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px 20px 40px;
  border-top: solid 1px #808080;
}

#flash {
  width: 75%;
  margin: 0 auto;
  background-color: #00ff00;
  padding: 20px 40px;
  border: solid 1px #808080;
  margin-top: 20px;
  display: none;
}

div.command-entry {
    padding: 10px 0px;
    margin: 0 auto;
    //background-color: #808080;
}

.command-entry-text {
    width: 75%;
}

.production-doc {
    background-color: #DDD;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
}

.trace {
    width: 100%; 
    height: 350px; 
    overflow: auto;
    border: solid 1px #808080;
}


ul.toolbar {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
	border-bottom: 1px solid #808080;
	overflow: hidden;
	zoom: 1;
}
ul.toolbar li {
	float: left;
}
ul.toolbar a {
	width: 8em;
	display: block;
	border: 1px solid #808080;
	border-bottom: none;
	padding: 5px;
	margin-right: 5px;
	background-color: #c6def7;
	text-decoration: none;
	color: #444;
	text-align: center;
	font-weight: bold
}
 
ul.toolbar a.selected {
    color: #fff;
    background-color: #336699;  
}

table {
    width: 85%;
    margin: 10px 0 10px 0;
}
table tr {
    border-bottom: 1px solid #808080;
    padding: 5px;
}
 
table td {
    padding: 5px;
}

table th {
    text-align: left;
    padding: 5px;
}

table tr:hover {
	background-color: #c6def7;
}

.logo img {
    float: right;
}