<?xml version="1.0" encoding="UTF-8"?>

<!-- This file should not be included in the jars that are created by
the JSoar build procedure. The end-user is the one that configures the
logger that will be used with JSoar. Our launchers add logback bindings
to SLF4J and this file configures those bindings. End-users should be
allowed to bind whatever logger they want to use and configure it
themselves. -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %36.36logger{36}: %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- This is where you tweak log levels for packages/classes -->
  <logger name="org.jsoar.kernel.Agent" level="info" />
  
  <!-- This is where you tweak the root log level -->
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>